.battlearea {
  grid-area: b;
  background-color: #404040;
  text-align: center;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */
  grid-template-rows: 400px 400px;
  grid-template-areas:
    "player1 letter player2"
    "result result result";
}
.knopka {
  background-color: #404040;
}
.player1 {
  grid-area: player1;
  background-color: #404040;
}
.player2 {
  grid-area: player2;
}
.letter {
  grid-area: letter;
  align-self: center;
  font-size: 80px;
}
.answer {
  font-size: 24px;
}
.result {
  grid-area: result;
  background-color: #404040;
}
.input {
  grid-area: input;

  justify-self: center;
  text-align: center;
}
.img {
  position: relative;
  top: 0px;
  height: 350px;
  transition: opacity 1s linear;
}
.imgOpacity {
  height: 350px;
  opacity: 0.4;
  transition: opacity 1s linear;
}
.heart {
  height: 40px;
  position: relative;
}
.cross {
  position: relative;
  top: -380px;
  height: 350px;
  z-index: 2;
  opacity: 0;
}
.crossOpacity {
  position: relative;
  top: -380px;
  height: 350px;
  z-index: 2;
  opacity: 1;
}
.input {
  margin: 15px;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  background-color: #bfbfbf;
  border: 2px solid var(--input-border);
  border-radius: 10px;
}
.button {
  position: relative;
  top: -50px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #bfbfbf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #666666;
}

.button:active {
  background-color: #e6e6e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonSmall {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #bfbfbf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonSmall:hover {
  background-color: #666666;
}

.buttonSmall:active {
  background-color: #e6e6e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.result {
  font-size: 44px;
  list-style-type: none;
}
.snake {
  height: 300px;
}
