.battlearea {
  grid-area: b;
  background-color: rgb(207, 204, 34);
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "player1 letter player2"
    "result result result";
}
.knopka {
  background-color: rgb(109, 114, 67);
  align-self: top;
}
.player1 {
  grid-area: player1;
  background-color: rgb(43, 202, 241);
}
.player2 {
  grid-area: player2;
}
.letter {
  grid-area: letter;
  align-self: center;
}
.result {
  grid-area: result;
  background-color: rgb(241, 43, 182);
}
.input {
  grid-area: input;

  justify-self: center;
  text-align: center;
}
.img {
  height: 350px;
}
